.form-container form {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.form-container form input,textarea {
width: 40%;
margin-bottom: 20px;
}